.app {
  height: 100vh;
}
.nav {
  padding: 10px 100px;
  color: rgb(244, 244, 184);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  background-color: brown;
  height: 10%;
  width: 100%;
  position: absolute;
}
.cart-btn {
  width: 15%;
  height: 50%;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: rgba(63, 49, 49, 0.7);

  margin-left: 50%;
  position: absolute;
}
.cart-amt {
  padding: 5px;
  margin: 10px;
  position: relative;
  height: 5%;
  width: 15%;
  background-color: brown;
}
img {
  height: 60%;
  width: 100%;
}
